 :root{
    --color1:#313131;
    --color2:#525252;
    --color3:#414141;
    --color4:#8b43be;
    --color5:black;
    --color6:#2c1653;
} 
/* :root{
    --color1:#313131;
    --color2:#525252;
    --color3:#414141;
    --color4:#4358be;
    --color5:white;
    --color6:#2c1653;
} */
.version{
    width: 10px;
    height: 20px;
}
*{
    box-sizing: border-box;
}

html{
    font-family:sans-serif;
}

body{
    background-color:var(--color5);
    color: var(--color2);
    line-height: 1.8;
 
}

h2{
    color:var(--color2)
}

h3{
    color:var(--color2);
}

i{
    color: var(--color4);
}

a{
color:var(--color6);
font-weight: bolder;
}

a:hover{
  color:var(--color4)
}

section{
    margin-bottom: 8em;
}

/* NAVIGATION */

#navbar{
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width:768px){
    .nav-container{
        display: flex;
        justify-content: center;
    }
    #navbar{
        top: 0;
        transform: translateY(0%);
        transition: top 0.3s;
    }
    li{
        float: left;
    }
   
}
.nav ul{
    margin-top: auto;
    margin-bottom: auto;
}
  
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.nav-menu>ul>li {
    position: relative;
  }
  
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  height: 56px;
  width: 100%;
  transition: 0.3s;
  }
  
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
  }
  
.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
  
  }


.nav-menu a,
.nav-menu a:focus {
    width: 56px;
}

.nav-menu a span,
.nav-menu a:focus span {
  display: none;
    color: var(--color2);
  }

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color:var(--color2);
  border: 1px solid var(--color4);
  text-decoration: none;
}
  
.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color:var(--color2);
}
  
.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
}
  
.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

.nav{
    list-style: none;  
    
}
/* HOME */

.home-img{
    width:100%;
    height: auto;

}
.animated-container{
    display: flex;
}
#home .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.home-text-container{
    font-size: 3em;
    align-self: flex-start;
    margin-left: 20%;

}

/* SECTION */

.section-title{
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
    

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--color6);
    bottom: 1px;
    left: calc(50% - 60px);
  }
    
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--color4);
    bottom: 0;
    left: calc(50% - 20px);
  }

.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* ABOUT */
.portrait-contact-info-container{
    display: flex;
    align-items: center;
}
@media (max-width:768px){
    .portrait-contact-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .portrait-contact-info-container p{
        text-align: center;
    }

    .contact{

        display: flex;
        justify-content: center;
        flex-direction: column;
    

    }

}
.portrait img{
    width: 20em;
    margin: 0px 10px;
}

.contact-info { 
    text-align: left;
    margin-left: 2em;
    
}
.contact-info-title{
    font-size: 29px;
    margin-top: 0px;
}
.contact-info ul{
    list-style-type: none;
    padding-left: 0;
}

/* EDUCATION */
.education-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
@media (max-width:768px){
    .education-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .education-item{
        margin: 1em;
    }
    
}

.education-item{
    border: 1px solid var(--color4);
    width: 300px;
}
.education-item i{
    font-size: 60px;
}

/* EXPERIENCE */
.timeline{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.timeline-block{
    border: 1px solid var(--color4);
    width: 400px;
    padding:10px;
    margin: 4em;
}
.timeline-line-left{
    border-left: 2px solid var(--color4) ;
    width: 100%;
    height: 100%;

}
.timeline-line-right{
    border-right: 2px solid var(--color4) ;
    width: 100%;
    height: 100%;
    margin-left: 2px;
    display: flex;
    justify-content: flex-end;
}
.timeline-circle-right{
    width: 30px;
    height: 30px;
    border: 1px solid var(--color4);
    border-radius: 50px;
    background-color: var(--color5);
    position: relative;
    left: -16px;
    bottom: -100px;
}
.timeline-circle-left{
    width: 30px;
    height: 30px;
    border: 1px solid var(--color4);
    border-radius: 50px;
    position: relative;
    background-color: var(--color5);
    top: 100px;
    left: 16px;
}
@media (max-width:768px){
    .timeline{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .timeline-line-left{
        display: none;
    }
    .timeline-line-right{
    display: none;        
    }
    .timeline-circle-right{
        display: none;
    }
    .timeline-circle-left{
        display: none;
    }
}


.timeline-content-info{
    border: 1px solid var(--color4);
    padding: 10px;
    display:flex;
    justify-content: space-between;
}

/* SKILLS */
.skill-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skill{
    margin: 0.5em;
}
.bar-background{
    background-color: var(--color2);
    border-radius: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    border: 3px solid var(--color1);
}

.bar{
    background-color: var(--color4);
    border-radius: 50px;
    height: 100%;
}

/* CONTACT */
#contact{

    margin-left: auto;
    margin-right: auto;
    
}
.form-container{                  
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:768px){
    .form-container{

    }
}

.myform{
    background-color:var(--color5);
    border-color: var(--color2);
}
.form-control{
    color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 0.25em;
    font-size: 1.25rem;
    padding: 0.4rem;
}

#subject{
    grid-column-start: 1;
    grid-column-end: 3;
}

#message{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 10rem;
    font-family: sans-serif;
}



input:hover{
    border-color: var(--color4);
}

textarea:hover{
    border-color: var(--color4);
}

input:focus{
    border-color: var(--color4);
    outline: none;
    
}

textarea:focus{
    border-color: var(--color4);
    background-color: var(--color5);
    outline: none;
}

.mybutton{
    color:var(--color2);
    background-color: var(--color5);
    border: solid 1px;
    border-color: var(--color4);
    padding: 10px;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 40%;
}

.mybutton:hover{
    color:white;
    background-color:var(--color6);
}

/* FOOTER */

.social-container{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;

}
.social-container i{
    font-size: x-large;
}
